# Node.js dependencies
node_modules/

# Environment variables (Supabase keys)
.env

# Logs
logs/
*.log

# Optional OS files
.DS_Store
Thumbs.db

# Optional IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional build folders
dist/
build/
